html,
body,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gabarito";
}

button {
  border: none;
  background-color: unset;
}

/* Header */

header {
  display: flex;
  align-items: baseline;
  gap: 24px;
  padding: 16px 0 0 32px;
  border-bottom: 2px solid black;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 48px;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 88dvh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
}

.canvas-box {
  display: flex;
  align-items: self-start;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
}

button {
  transition: background-color 0.2s ease;
}

button:hover {
  border-color: white;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  filter: invert(100%);
}

object {
  position: relative;
  z-index: -1;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  justify-content: flex-start;
  width: 100%;
}

li {
  padding: 4px;
}

button {
  font-family: "Gabarito";
  font-size: 16px;
  border: black solid 2px;
}

canvas {
  border: 2px solid black;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.selected {
  border: solid 4px black;
}

.down-tools {
  display: flex;
  align-self: self-start;
  align-items: center;
}

.down-tools div {
  display: flex;
  align-items: center;
  padding: 4px;
}

#color {
  padding: 0;
}

input[type="color"] {
  border: 2px solid #000000;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

input[type="color"]:hover {
  border-color: #999;
}

.down-tools span {
  padding-right: 8px;
}

select {
  padding: 5px;
  border: 2px solid #000000;
  appearance: none;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  background: white;
  color: #333;
}

select:hover {
  border-color: #999;
}

/* Footer */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
}
